

main {
    flex: 1;
    overflow: hidden; /* Không cho phép cuộn */
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    font-size: 1rem;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 5px;
}

    .nav-item ::deep a {
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a:hover {
            background-color: rgba(13,110,253,0.3);
            color: white;
        }

        .nav-item ::deep a.active {
            background-color: rgba(13,110,253,0.3);
            color: white;
        }


