@page "/dashboard"

<PageTitle>Dashboard</PageTitle>

@* <div class="d-flex flex-column">
    <div class="w-100 d-flex flex-row">
        <MudCard Class="m-4" Elevation="6">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h4">Kiểm tra tình trạng kết nối</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="d-flex flex-row align-items-center">
                <MainTargetCard />
                <SubTargetCard />
            </MudCardContent>
        </MudCard>
        
        <div class="flex-grow-1 p-3 d-flex flex-row align-items-center">
            <img src="images/Picture2.png" height="200" alt="device" />
            <img src="images/wifi.png" height="70" style="transform: rotate(90deg);" alt="wifi" />
            <div class="bg-connect"></div>
            <img src="images/wifi.png" height="70" style="transform: rotate(-90deg);" alt="wifi" />
            <img src="images/computer.png" height="200" alt="computer" />
        </div>
    </div>
    <div class="w-100 d-flex flex-row">
        <LightController />
        <div class="flex-grow-1">
            <TransmitterDevices />
        </div>
    </div>

</div> *@
<MudGrid Justify="Justify.Center">
    <MudItem xs="12">
        <MudGrid Justify="Justify.SpaceBetween">
            <MudItem xs="6">
                <MudCard Class="m-4" Elevation="6">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h4">Kiểm tra tình trạng kết nối</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent Class="d-flex flex-row align-items-center">
                        <MainTargetCard />
                        <SubTargetCard />
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6">
                <div class="flex-grow-1 p-3 d-flex flex-row align-items-center">
                    <img src="images/Picture2.png" height="200" alt="device" />
                    <img src="images/wifi.png" height="70" style="transform: rotate(90deg);" alt="wifi" />
                    <div class="bg-connect"></div>
                    <img src="images/wifi.png" height="70" style="transform: rotate(-90deg);" alt="wifi" />
                    <img src="images/computer.png" height="200" alt="computer" />
                </div>
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12">
        <MudGrid Justify="Justify.SpaceBetween">
            <MudItem xs="6">
                <LightController />
            </MudItem>
            <MudItem xs="6">
                <TransmitterDevices />
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>

@code {

}
